<div class="crumbs">
    <a href="#!/" class="crumbs__l crumbs__l_home">На головну</a>
    >
    <a itemprop="url" href="/#!/about" class="crumbs__l"><span itemprop="title">Про нас</span></a>
</div>
<h2 class="page-header">Про наш магазин</h2><br>
<div id="text">Зробивши замовлення в нашому магазині, Ви не лише отримаєте якісні продукти, які виготовляються найкращими компаніями (Nishiki, <a href="//www.kikkoman.com/en/?version=&">Kikkoman</a>, Mitsukan, JNP...), що спеціалізуються на виробництві продуктів для суші, а й заощадите свій час та гроші.
    <img src="../../images/sushi_photo.jpg" alt="">
    <br>
    Наші кур'єри доставлять Ваше замовлення за потрібною адресою, або Ви можете забрати товар самостійно з магазину
</div>
<div>
    <iframe id="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.5960416509383!2d30.244496765202044!3d50.516614733422536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472b33cddcb624a5%3A0xff6bcdce3117a364!2z0LLRg9C70LjRhtGPINCT0LDQs9Cw0YDRltC90LAsIDIsINCG0YDQv9GW0L3RjCwg0JrQuNGX0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1suk!2sua!4v1490178387429" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


