<div id="about" ng-controller="aboutUsCtrl as aboutCtrl">

    <div class="crumbs">
        <a href="/">На главную</a>
        >
        <!--<a itemprop="url" href="{{items.link}}">-->
        <span itemprop="title">О нас</span>
        <!--</a>-->
    </div>
    <h1>О нас</h1><br>
        <div id="mainText">
            <div class="text">
                <p>
                <blockquote>
                    Мы, <b>КЛИМАГРУП</b>, специализируемся на <b>системах кондиционирования, вентиляции, осушения и отопления</b> в бытовом,
                    полупромышленном и промышленном сегментах.
                    <br>
                    <b>
                        Наши специалисты
                    </b>
                    опытные, надежные, обладающие всеми необходимыми навыками для выполнения работ на объектах любой сложности.
                    <br>
                    Мы выполняем все расчеты для правильного и качественного подбора оборудования для бытового и полупромышленного сегмента,
                    а для промышленных предприятий  проектирование и инжиниринг самих установок – вентиляционных и холодильных машин.
                    <br>
                </blockquote>
                <blockquote>
                    Если Вы хотите &#10003;<b>купить кондиционер с монтажом</b>, наши монтажники приедут к Вам для проведения изыскательных работ,
                    просчитают весь необходимый состав оборудования, сделают предложение по оптимальной прокладке фреоновой и конденсатной магистрали,
                    и качественно выполнят все работы по монтажу кондиционеров.
                    <br>
                </blockquote>
                <blockquote>
                    На сайте www.climagroup.com.ua представлены бренды разнообразных ценовых категорий,
                    при этом являющиеся качественным и надежным продуктом такие как: Daikin, Panasonic , Mitsubishi Heavy, Mitsubishi Electric,
                    Neoclima , Toshiba, LG, Cooper&Hunter, Olmo, Lessar, Midea, Idea,  Tosot, Haier, ADS, Trotec, Frost, Rosenberg.
                    <br>
                </blockquote>
                <blockquote>
                    Мы как монтажная и торговая компания выполняем &#10003;<b>гарантийное и пост-гарантийное обслуживание</b> кондиционеров, тепловых завес,
                    вентиляционных установок, отопительных агрегатов, осушителей воздуха, холодильных машин и другой вентиляционной и климатической техники.
                    <br>
                    Наша компания имеет &#10003;<b>государственную строительную лицензию</b>,
                    что гарантирует максимальную ответственность каждого сотрудника в выполнении поставленных задач и обеспечении любых
                    потребностей и запросов каждого клиента.
                    <br>
                </blockquote>
                <blockquote>
                    С нами будет легко пройти все этапы установки кондиционера от прокладки трассы на
                        этапе ремонта до монтажа блоков и запуска в работу. &#12484; <b>Обращайтесь!</b>
                    <br>
                </blockquote>
                <blockquote>
                    <b> НАШИ РЕКВИЗИТЫ<br></b>


                    ООО «ПРОМТЕХИННОВАЦИИ»<br>
                    ИНН 399056910316<br>
                    код ЕДРПОУ 39905699<br>
                    P/c 26006050010661, "ПРИВАТБАНК", МФО 305299<br>
                    Юр.адрес: Украина, Киевская обл., г.Ирпень, ул. Садовая,  № 69-А<br>
                    <img src="../../images/icons/phone.png" width="24" height="24" alt="" align="middle">
                    тел.: (044) 223 33 65 <br>

                </blockquote>
            </div>
            <div class="photoContainer">
                <img src="../../images/photo_site/air_conditioner_2.jpg" alt="">
                <img src="../../images/photo_site/air_conditioner_3.jpg" alt="">
                <img src="../../images/photo_site/air_conditioner_5.jpg" alt="">
            </div>
        </div>
    <div id="licenseDiv">
        <img src="../../images/license1.jpg" width="300" alt="license_climagroup_1" id="license1" ng-click="aboutCtrl.changeSize('license1')">
        <img src="../../images/license2.jpg" width="300" alt="license_climagroup_2" id="license2" ng-click="aboutCtrl.changeSize('license2')">
        <br>
    </div>
</div>

