<h2 id="hMain" class="page-header">Головна</h2>

<div id="miniCart" ng-controller="myGoodsCtrl as goodsCtrl">


    <div class="col-lg-4 col-sm-6 col col-xs-12 catalogueItem" ng-repeat="items in goodsCtrl.goods">{{items.name}}
        <button data-art="{{items.id}}" class="addCart" ng-click="goodsCtrl.addToCartClick(items.id, items.price)">Купити</button>
        <div>Ціна {{items.price}} грн
            <div>
                <img ng-src="{{items.image}}" id="imgGoods"></img>
            </div>

        </div>

    </div>

</div>

