/*общие стили*/
body {
    color: #273444;
    font-size: 14px;
    font-family: "Open Sans", "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
a {
    color: #3e77aa;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
li {
    /*list-style: none;*/
    /*text-decoration: none;*/
}
label {
    font-size: 14px;
    font-family: "Open Sans", "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: inherit;
}

#container {
    animation-fill-mode: both;
    float: left;
    max-width: 100%;
    opacity: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    -webkit-animation-fill-mode: both;
}
#mainContainer {
    position: relative;
    left: 150px;
    right: 0;
    top: 0;
    width: calc(100% - 150px);
    min-height: 100px;
    background: #ffffff;
}
h1 {
    margin: 10px 0 0 20px;
}
h2 {
    margin: 10px 0 0 20px;
}
li > a:hover, li > a:focus {
    text-decoration: none;
    background-color: #eee;
    display: block;
    outline: none;
}
.crumbs {
    margin-left: 20px;
}
.crumbs >  span {
    display: inline;
}
.crumbs > a  {
    display: inline;
}
.crumbs > a > span {
    display: inline;
}
blockquote {
    border-left: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
form {
   border: none;

}

/*логотип*/
.headerLogo {
    /*display: inline-block;*/
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 80px;
    background: url(../images/LOGO_CLIMAGROUP.png);
    background-size: 135px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20;
    border-right: 1px solid #e6e6e6;
}

/*бокове меню*/
nav {
    width: 150px;
    float: left;
    z-index: 10;
    position: fixed;
    top: 80px;
    left: 0;
    height: 100%;
    background-color: white;
    min-height: 600px;
}
#menu-top_menu {
    top: 0px;
    background-color: #ffffff;
    /*position: absolute;*/
    margin: 0;
    /*height: 712px;*/
}
#menu-top_menu > li {
    opacity: 1;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    -webkit-transition: .3s ease-in-out;
    position: relative;
    margin: 0 0px;
    width: 150px;
    height: 120px;
    transition: .3s ease-in-out;
}
li#liNav > a {
    width: 100%;
    height: 100%;
    padding: 20px 10px 0;
    color: rgba(68, 79, 87, 0.8);
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s ease-in-out;
    font-family: "Open Sans", "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
    background-position: center 25px;
}

#menu_icon{
    padding-left: 25%;
    display: block;
    color: rgba(68, 79, 87, 0.8);
}
#submenuLiLeft {
    height: 50px;
    width: 200px;
    border: 1px solid #e6e6e6;
}
#submenuALeft {
    width: 100%;
    height: 100%;
    display: block;
    background-position: center 25px;
    color: rgba(68, 79, 87, 0.8);
    padding: 10px 10px 10px 10px;
    font-size: 12px;
    font-weight: bold;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    font-family: "Open Sans", "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
ul.submenuLeft {
    display: none;
    padding: 0 0 0 0;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    opacity: 1;
}
ul.open > li:hover > ul.submenuLeft {
    display: block;
    background-color: white;
}
a#submenuALeft:hover {
    text-decoration: none;
    background-color: #eee;
}
/*верхнє меню*/
.page-header {
    position: fixed;
    left: 150px;
    right: 0;
    top: 0;
    width: calc(100% - 150px);
    z-index: 4;
    min-height: 60px;
    max-height: 80px;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 0 0;
    opacity: 0.85;
}
.page-header-left{
    float: left;
    width: calc(50% - 28px);
}
.search-box{
    float: left;
    margin: 0 0 0 0;
    width: calc(100% - 20%);
}
.search-box-frame {
    height: 37px;
    border: 1px solid rgba(68, 79, 87, 0.8);
    outline: none;
    border-radius: 19px;
    margin-top: 5px;
    margin-left: 20px;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
input.search-text:focus {
    color: #333232;
}
.search-text {
    position: relative;
    width: calc(100%);
    height: 35px;
    background: none;
    border: none;
    outline: none;
    padding: 0 17px 0 17px;
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
}
.page-header-right{
    float: right;
    width: calc(50% - 25px);
}
#headerContact {
    float: left;
    margin-left: 25px;
}
.page-header-nav {
    float: right;
    padding: 0 8px 0 0;
    text-align: center;
}
.page-header-nav li {
    /*position: relative;*/
    float: left;
    display: block;
    font-size: 14px;
    width: 97px;
    border-bottom: 0px;
}
.page-header-nav li > a {
    display: block;
    width: auto;
    height: auto;
    color: rgba(68, 79, 87, 0.8);
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    /*-webkit-transition: .3s ease-in-out;*/
    transition: .3s ease-in-out;
    font-family: "Open Sans", "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background-repeat: no-repeat;*/
    /*background-position: center 25px;*/
}
ul.submenu {
    display: none;
    float: right;
}
ul.page-header-nav > li:hover > ul.submenu {
    display: block;
}
#submenuA {
    font-weight: bold;
    font-size: 11px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
    top: 50%;
}
a#submenu:hover {
    text-decoration: none;
    background-color: #eee;
}
#submenuLi {
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
    height: 40px;
}


span {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center;
}
 #mainPhoto > img {
     width: calc(100% + 6px);
     opacity: 1;
     /*z-index: 1;*/
 }

/*футер */
.footer {
    background-color: grey;
    overflow: hidden;
    /*position: fixed;*/
    /*z-index: 0;*/
    bottom: 0;
    padding: 30px 0 0 170px;
    width: 100%;
    min-height: 200px;
}
#inner-footer-second-left {
    color: #ffffff;
    float: left;
}
#inner-footer-second-right {
    color: #ffffff;
    float: right;
    padding-right: 90px;
}
#social img {
    width: 32px;
    -moz-border-radius: 30px; /* Firefox */
    -webkit-border-radius: 30px; /* Safari, Chrome */
    -khtml-border-radius: 30px; /* KHTML */
    border-radius: 30px;
    behavior: url(border-radius.htc); /*IE */
}
/*кнопка наверх*/
#top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    line-height: 34px;
    text-align: center;
    color: darkslategrey;
    /*z-index: 500;*/
    font-size: 18px;
    cursor: pointer;
    display: none;
}
/*сторінка call-back*/
.contactsLeft {

    float: left;
    width: 50%;
    margin-bottom: 20px;
    padding-top: 30px;
}
.contactsLeft td {
   padding: 5px;
}


.contactsRight {
    float: left;
    width: 50%;
}

.crumbs {
    margin-top: 90px;
}
.icon-soc-fb {

}

/*goods*/
.col-lg-4, .col-sm-6, .col-xs-12, .catalogueItem {
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    height: 300px;

}
#imgGoods {
    width: 260px;

}
.catalogue-list {
    position: relative;
    width: calc(100% - 250px);
}
.catalogueItem button, .addCart {
    background-color: #00AEEF;
    border: none;
    color: white;
    position: static;
    font-weight: bold;
    margin: 5px;

}

/*goods catalog filters*/
#catalog_filters_block {
    position: relative;
    /*z-index: 2;*/
    float: right;
    width: 250px;
    padding: 20px;
    padding-top: 0px;

}
.checkbox {
    width: 17px;
    height: 17px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 3px 0 0;
}
#parameters-filter-form span {
    color: #3e77aa;
    margin-bottom: 10px;
}
#parameters-filter-form label {
    cursor: pointer;
}
#parameters-filter-form li {
    text-decoration: none;
    list-style: none;
}

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 45px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 35px;
    height: 20px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
    background: #00AEEF;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
    left: 19px;
}


/*about*/
#license1, #license2 {
    /*width: 100px;*/
    margin-bottom: 20px;
    margin-left: 20px;
}
#licenseDiv{
    display: block;
    width: 100%;

}
#mainText {
    display: table;

}
.text {
    padding-right: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: justify;
    float: left;
    width: 70%;
    display: table-row;
}
.photoContainer {
    float: right;
    width: 30%;
    padding-right: 20px;
    display: table-row;
}
.photoContainer img {
    width: calc(100%);
    margin-bottom: 20px;


}
/*one_good_page*/
.detail-img-thumbs {
    position: absolute;
    left: 0;
    top: 0;
}
.slider-inner-h, .detail-img-thumbs-slider {
    height: 254px;
}
.slider-inner-h {
    overflow-x: hidden;
    overflow-y: auto;
}

.details-img-slider {
    position: relative;
    width: 75px;
    /*display: inline;*/
}
.detail-img-thumbs-l {
    height: 432px;
    display: inline;

}
.detail-img-thumbs-l-i {
    float: left;
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent;

}
.detail-img-thumbs-l-i:hover {
    text-decoration: none;
    display: block;
    outline: none;
    border: 2px solid #00AEEF;
}
.detail-img-thumbs-l-i.active {
    text-decoration: none;
    display: block;
    outline: none;
    border: 2px solid #00AEEF;
}

.detail-img-thumbs-l-i-link {
    display: block;
    width: 60px;
    /*height: 40px;*/
    /*line-height: 38px;*/
    padding: 5px;
    margin: 0 auto;
    overflow: hidden;

}

.detail-img-inner {
    width: 550px;
    margin: 30px 0 0 85px;
    position: relative;
    text-align: center;
}
.detail-img {
    float: left;
    position: relative;
    margin-bottom: 2em;
    min-height: 254px;
    margin-left: 20px;
}
.detail-img-thumbs .slider-at {
    top: -20px;
    height: 20px;
    left: 0;
    right: 6px;
    position: absolute;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.8) 20%,#fff);

}
.slider-ab {
    position: absolute;
    bottom: -20px;
    height: 20px;
    left: 0;
    right: 6px;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.8) 20%,#fff);
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    color: #00AEEF;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
}
.prev {
    left: 0px;
}
.reset {
    list-style: none
}
.buy .addCart {
    margin: 0;
    margin-top: 10px;
}

 /*basket*/
.buyOrder {
    background-color: #00AEEF;
    border: none;
    color: white;
    margin-left: 100px;
    font-weight: bold;
}
.minus {
    background: rgba(68, 79, 87, 0.8);
    color: #fff;
    border: none;
    height:25px;
    width:25px;
}
.delete {
    background: rgba(68, 79, 87, 0.8);
    color: #fff;
    border: none;
    height:25px;
    width:25px;
}
.plus {
    background: #00AEEF;
    color: #fff;
    border: none;
    height:25px;
    width:25px;
}
.countValue {
    width:25px;
}
.orderLeft {
    float: left;
    width: calc(100% - 450px);
    position: relative;
    border: 1px solid #f1f1f1;
    border-left: none;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
}
.orderLeft>ul>li {
    list-style: none;
}

.orderRight {
    width: 400px;
    float: right;
    position: relative;
    background: #e6e6e6;
    padding: 20px;
    margin-right: 20px;
}
.orderLeft #imgGoods {
    width: 150px;
}

.orderLeft>ul>li>a:hover, .orderLeft>ul>li > a:focus {
    text-decoration: none;
    background-color: inherit;
    display: inline;
    outline: none;
}

/*admin*/
table {
    margin-left: 20px;
    margin-bottom: 20px;

}
#admin tr, #admin th, #admin td {
    border: 1px solid #e6e6e6
}
/*edit*/
[name="imageSrc"]{
    width: 100px;
}
.liImage {
    list-style: none;
}
/*монтаж и обслуживание*/
 .article {
     /*padding-left: 20px;*/
     /*padding-right: 20px;*/
     /*padding-bottom: 20px;*/
     text-align: justify;
 }