<div id="myCart" ng-controller="basketCtrl as bk">
    <div class="crumbs">
        <a href="#!/">На главную</a>
        >
        <!--<a itemprop="url" href="#!/basket" class="crumbs__l">-->
            <span itemprop="title">Корзина покупок</span>
        <!--</a>-->
    </div>
    <h1>{{bk.title}}
        <br>
        <a href="/" style="display: none" id="backToMain">Вернуться на главную</a>
    </h1>
    <div id="orderForm">
        <div class="orderLeft">
            <ul ng-repeat="items in bk.newBasket">
                 <li>
                     <button data-art="{{items.id}}" class="delete" ng-click="bk.deleteGoods(items.id)">x</button>
                     <a href="#!/product/{{items.id}}" ng-click="bk.testClickProd(items.id)">
                         {{items.Type}}{{items.Company}}{{items.model}}
                     </a>
                     <a href="#!/product/{{items.id}}" ng-click="bk.testClickProd(items.id)">
                         <img ng-src="{{items.image[0]}}" id="imgGoods"></img>
                     </a>
                     цена, грн: {{items.price}}
                     <button data-art="{{items.id}}" class="minus" ng-click="bk.minusGoods(items.id)">-</button>
                     {{items.number}}
                     <button data-art="{{items.id}}" class="plus" ng-click="bk.plusGoods(items.id)">+</button>
                     всего: {{items.number*items.price}} грн
                 </li>
            </ul>
        <div id="totalPrice">
            Всего сумма заказа,грн: {{bk.orderPrice}}
        </div>
        </div>
        <div class="orderRight">
            <form name="orderFormRight" action="">
                <label for="">
                    <span>ФИО</span>
                    <input type="text" id="order_form[name]" value="" required>
                    <!--<p id='err_fio' class='error'></p>-->
                </label>
                <label for="">
                    <span>Телефон</span>
                    <input type="text" id="order_form[phone]" required>
                    <!--<p id='err_phone' class='error'></p>-->
                </label>
                <label for="">
                    <span>Электронная почта</span>
                    <input type="email" id="order_form[email]" required>
                    <!--<p id='err_mail' class='error'></p>-->

                </label>
                <label for="">
                    <span>Адрес доставки</span>
                    <input type="text" id="order_form[address]" required>
                    <!--<p id='err_address' class='error'></p>-->
                </label>
                <label for="">
                    <span>Способ доставки</span>
                    <select>
                        <option value="1">Новая Почта</option>
                        <option value="2">Курьером</option>
                        <option value="3">Другая служба доставки (укажите в пожеланиях)</option>
                    </select>
                </label>
                <label for="">
                    <span>Оплата</span>
                    <select>
                        <option value="1">Наличные курьеру (оплата при получении)</option>
                        <option value="2">Передоплата</option>
                        <option value="3">Наложеный платеж</option>
                    </select>
                </label>
                <label for="">
                    <span>Пожелания к заказу</span>
                    <textarea></textarea>
                </label>
                <label for="">
                    <span></span>
                    <button type="submit" class="buyOrder" ng-click="bk.onClickOrder()">Оформить заказ</button>
                </label>
             </form>
        </div>

    </div>



</div>
