<!DOCTYPE html>
<html lang="en">
<body>
<div class="crumbs">
    <a href="/">На главную</a>
    >
    <span itemprop="title">Монтаж и обслуживание</span>
</div>
<h1>Монтаж и обслуживание</h1>
<div class="article">
    <h2>Монтаж кондиционеров.</h2>
    <div class="text">
        <blockquote>
            Наша организация выполняет <b>монтаж бытовых и полупромышленных кондиционеров  по Киеву и Киевской области</b>. <br>
            Алгоритм проведения монтажных работ сплит систем, мульти сплит систем, кассетных кондиционеров,
            канальных кондиционеров и другого климатического оборудования состоит из нескольких этапов: <br>
        </blockquote>
        <blockquote>
            <b>1)</b> на первом этапе наши <b>специалисты выезжают на объект заказчика</b> для исследования помещений объекта:<br>
            <ul>
                <li>
                    расчета необходимой тепло и хладо производительности оборудования – это требуется для определения состава
                    оборудования, комплектующих и расходных материалов. Для этого необходимо учесть объем комнат, толщину стен
                    и материалы утеплителя, площадь окон и постоянно открытых проемов, учесть расположение помещения относительно
                    южной и северной стороны дома, если это мансардное помещение необходимо взять во внимание материал перекрытия и
                    теплоизоляции, состав электрического оборудования, что будет находится, или уже находится в помещении
                    (компьютеры, холодильники и прочее оборудование, что выделяет тепло)  – все эти факторы влияют на теплопритоки
                    и теплопотери, и необходимы для расчета теплового баланса.<br>
                </li>
                <li>
                    определения мест расположения внутренних и внешних блоков кондиционеров и оптимальный подвод фреоновой и
                    дренажной трассы, с учетом пожеланий заказчика. Производится замер длинны магистралей, фиксируется объём работ
                    по прокладке закладке трассы, количество необходимых отверстий под магистраль, места штробы для сокрытия
                    магистрали в стенах (если есть необходимость и возможность ее выполнить).
                    <br>
                </li>
            </ul>
        </blockquote>
        <blockquote>
            <b>2)</b> Далее производится калькуляция и предоставляется коммерческое предложение на поставку климатической техники
            и работ по монтажу, мы стараемся предоставить предложение в максимально короткие сроки, как правило в тот же день.
            На этом этапе мы понимаем какие диаметры медных и дренажных труб, сечение кабелей питания и управления будут
            использоваться при монтаже – <b>все расходные материалы используемые нашими специалистами являются высококачественными,
            надежными и долговечными в эксплуатации</b>. <br>
        </blockquote>
        <blockquote>
            <b>3)</b> На третьем этапе, после утверждения заказчиком состава оборудования, удовлетворенности ценовым предложением и
            согласованием сроков, наши монтажники приступают к работам. <br>
        </blockquote>
        <blockquote>
            Pаботы могут быть так же разбиты на несколько этапов, например:
        </blockquote>
        <blockquote> <b>I</b> -  <b>прокладка магистрали до выполнения ремонтных работ</b> – мы закладываем магистрали и консервируем их
            до момента когда будет закончен ремонт и мы сможем приступить к непосредственному монтажу внутренних
            и наружных блоков кондиционеров. <br>
        </blockquote>
        <blockquote> <b>II</b> – работы по закладке магистралей, поставка кондиционеров, их монтаж, пуско-наладка и ввод в
            эксплуатацию выполняются в один или несколько дней, в зависимости от объемов. <br>
        </blockquote>
        <blockquote>
            <b>4)</b> Мы также предлагаем услуги по <b>обслуживанию кондиционеров</b>
            <!--(см. в разделе обслуживание) -->
            <br></blockquote>
        <blockquote>
            <b>5)</b> Наша компания берет на себя <b>гарантийные обязательства по поставленному оборудованию и
            выполненным работам</b>  при условии своевременного обслуживания системы кондиционирования. <br></blockquote>
        <blockquote><b>Обращайтесь!</b></blockquote>

        <br>
    </div>
    <div class="photoContainer">
        <img src="../../images/photo_site/air_conditioner_6.jpg" alt="">
        <img src="../../images/photo_site/air_conditioner_8.jpg" alt="">
        <img src="../../images/photo_site/air_conditioner_9.jpg" alt="">
        <img src="../../images/photo_site/air_conditioner_7.jpg" alt="">
    </div>





</div>





</body>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
</html>